@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-tertiary-fixed-dim: #ffb95f;
  --color-surface-dim: #d8dadc;
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-primary: #000000;
  --color-primary-container: #131b2e;
  --color-on-primary: #ffffff;

  --color-secondary: #006398;
  --color-secondary-container: #5bb8fe;
  --color-secondary-fixed: #cce5ff;
  --color-on-primary-container:#7c839b;

  --color-background: #f7f9fb;
  --color-on-background: #191c1e;

  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;

  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;

  --color-on-surface-variant: #45464d;
  --color-on-primary-fixed-variant: #3f465c;
  --color-primary-fixed-dim: #bec6e0;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;

  --color-tertiary: #000000;
  --color-tertiary-container: #2a1700;
  --color-tertiary-fixed: #ffddb8;
  --color-tertiary-fixed-dim: #ffb95f;

  --font-arabic: "IBM Plex Sans Arabic", "IBM Plex Sans", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 30px;

  --text-headline-lg: 36px;
  --text-headline-lg--line-height: 48px;

  --text-headline-md: 24px;
  --text-headline-md--line-height: 34px;

  --text-body-sm: 14px;
  --text-body-sm--line-height: 22px;

  --text-display-hero: 48px;
  --text-display-hero--line-height: 64px;

  --text-headline-sm: 20px;
  --text-headline-sm--line-height: 30px;

  --text-body-md: 16px;
  --text-body-md--line-height: 26px;

  --text-label-lg: 15px;
  --text-label-lg--line-height: 22px;

  --text-label-md: 13px;
  --text-label-md--line-height: 18px;
  --spacing-space-xl: 2.5rem;
  --spacing-space-lg : 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans Arabic", "IBM Plex Sans", sans-serif;
  
}

body {
  overscroll-behavior: none;
}

main > :first-child {
  margin-top: 0 !important;
}

main > :last-child {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}